{% extends 'base.html.twig' %}

{% block title %}Panier

{% endblock %}


{% block body %}
<br>
<table class="table">
    <thead class="thead-light">

        <tr>
        <th colspan="2">Détail du panier</th>
            <th>Produit</th>
            <th>Prix</th>
            <th>Qantité</th>
            <th>Total</th>
            <th>Vider le panier</th>
            <th>Supprimer le panier</th>
        </tr>
    </thead>
    <tbody>
    {% set total = 0 %}
    {% for ligne in panier %}
    <tr>
    <th colspan="1">produit(s)</th>
        <td>{{ligne.produit.titre}}</td>
        <td>{{ligne.produit.prix}}</td>
        <td>{{ligne.quantite}}</td>
        <td>{{ligne.quantite * ligne.produit.prix}} €</td>
            <td>  
                <th>
                <a href="{{ path("app_panier_vider") }}" title="vider le panier">
                <i class="fa fa-trash"></i>
                </a>
                </th>
        </td>
        <td>
            <a href="{{ path("app_panier_supprimer", {id: ligne.produit.id}) }} " 
                onclick="return confirm('Confirmer la suppression ?')">
            <i class="fa fa-times text-danger"></i>
            </a>
        </td>
    </tr>
    {% set total = total + ligne.quantite * ligne.produit.prix %}
    {% else %}
        <tr>
            <td colspan="5">Le panier est vide... pour l'instant</td>
        </tr> 
    {% endfor %}
    </tbody>

    <tfoot class="thead-dark">
        <tr>
            <th colspan="5">Somme Total</th>
            <th>{{total}} €
                {% if panier|length %}
            <a href="{{ path('app_panier_valider') }}" class="btn btn-light float-right">
                <i class="fa fa-cash-register"></i>
            </a>
           {% endif %}
            </th>
            
        </tr>
    </tfoot>
</table>

{% endblock %}
{% block h1 %}Mon panier{% endblock %}
