{% extends 'base.html.twig' %}

{# {% block title %}Client{% endblock %} #}
{% block h1 %}Client{% endblock %}

{% block body %}
    

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ client.pseudo }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ client.roles ? client.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ client.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ client.civilite }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ client.ville }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ client.codePostal }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ client.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_client_index') }}"><i class="fa fa-reply"></i>Retour à la liste</a>

    <a href="{{ path('app_admin_client_edit', {'id': client.id}) }}">edit</a>

    {{ include('admin/client/_delete_form.html.twig') }}
{% endblock %}
