{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}
{% block h1 %}Liste des commandes{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Client</th>
                <th>Montant</th>
                <th>Date_enregistrement</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.id }}</td>
                <td>{{ commande.client.pseudo }}</td>
                <td>{{ commande.montant }} €</td>
                <td>{{ commande.dateEnregistrement ? commande.dateEnregistrement|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ commande.etat }}</td>
                <td>
                    <a href="{{ path('app_admin_commande_show', {'id': commande.id}) }}">show</a>
                    <a href="{{ path('app_admin_commande_edit', {'id': commande.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_commande_new') }}">Create new</a>
{% endblock %}
